[submodule "vst3sdk"]
	path = vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "NeuralAmpModelerCore"]
	path = NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore.git
[submodule "AudioDSPTools"]
	path = AudioDSPTools
	url = https://github.com/sdatkinson/AudioDSPTools.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
