[Desktop Entry]
Type=Application
Version=1.0
Name=NAMp Rations
GenericName=Guitar Amplifier
Comment=Four-channel Neural Amp Modeler amp head (JACK)
Exec=namp-rations-standalone
Icon=namp-rations
Terminal=false
Categories=AudioVideo;Audio;X-Digital_Processing;
Keywords=guitar;amp;amplifier;NAM;neural;JACK;
StartupNotify=false
StartupWMClass=namp-rations-standalone
